<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/headAdmin.ejs', {title: 'Creación de Productos'}) %>
    <link rel="stylesheet" href="/css/styleProductCreation.css">
</head>
<body>
    <header>
        <%- include('../partials/headerAdmin.ejs') %>
    </header>

    <main>
        <div class="main-container">
            <h2 class="main__form-tittle">Creación de productos</h2>
            <form action="/products/create" method="post" class="main__form" enctype="multipart/form-data">
                <div>
                    <label for="name" class="main__form-label">Nombre del producto</label>
                    <input type="text" name="name" id="name" class="" required>
                </div>
                
                <div>
                    <label for="description" class="main__form-label">Descripción</label>
                    <textarea name="description" id="description" class="" rows="5"></textarea>
                </div>
    
                <div>
                    <label for="image" class="main__form-upload">Subir imagen</label>
                    <input type="file" name="image" id="image" accept="image/*" class="">
                </div>
    
                <div>
                    <label for="category" class="main__form-label">Categorías</label>
                    <label><input type="checkbox" name="category" value="dc" class="">Cómic DC</label>
                    <label><input type="checkbox" name="category" value="marvel" class="">Cómic Marvel</label>
                    <label><input type="checkbox" name="category" value="independiente" class="">Cómic Independiente</label>
                    <label><input type="checkbox" name="category" value="manga" class="">Manga</label>
                    <label><input type="checkbox" name="category" value="fantasia" class="">Fantasía</label>
                    <label><input type="checkbox" name="category" value="terror" class="">Terror</label>
                    <label><input type="checkbox" name="category" value="ficcion" class="">Ciencia Ficción</label>
                    <label><input type="checkbox" name="category" value="drama" class="">Drama</label>
                </div>
                
                <div>
                    <label for="author" class="main__form-label">Autores</label>
                    <input type="text" name="author" id="author" class="" required>
                </div>
                
                <select name="format" class="" required>
                    <option disabled selected>Seleccione formato</option>
                    <option value="blanda">Tapa blanda</option>
                    <option value="dura">Tapa dura</option>
                    <option value="deluxe">Deluxe</option>
                </select>
                
                <div>
                    <label for="pages" class="main__form-label">Páginas</label>
                    <input type="number" name="pages" id="pages" class="" required>
                </div>
                
                <div>
                    <label for="price" class="main__form-label">Precio</label>
                    <input type="number" name="price" id="price" class="" required>
                </div>

                <div>
                    <label><input type="checkbox" name="featured" class="" id="featured">Producto destacado</label>
                </div>

                <div>
                    <label><input type="checkbox" name="onSale" class="" id="onSale">Producto en oferta</label>
                </div>

                <div>
                    <label for="discount" class="main__form-label">Descuento</label>
                    <input type="number" name="discount" class="" required placeholder="Si no está en oferta, es cero (0)">
                </div>
                
                <div class="main__form-buttons">
                    <button type="submit">Insertar</button>
                    <button type="reset">Borrar</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>