<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styleProductDetails.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>


    <main>
        <!-- Producto -->
        <section class="main__product">
            <article class="main__product-container">
                <img src="/images/product/product4.png" alt="Scott Pilgrim 4" class="main__product-img">
                <div class="main__product-text">
                    <h3>Scott Pilgrim VOL. 04</h3>
                    <p>$53 000</p>
                    <div class="main__product-details">
                        <h4>Autor(es):</h4>
                        <p>Bryan Lee O'Halley </p>
                        <h4>Páginas:</h4>
                        <p>192</p>
                        <h4>Formato:</h4>
                        <p>Tapa blanda</p>
                    </div>
                    <div class="main__product-shopping">
                        <div class="main__product-count">
                            <button class="main__product-button-count minus">-</button>
                            <input type="number" value="1">
                            <button class="main__product-button-count plus">+</button>
                        </div>
                        <button type="submit" class="main__product-button-shopping">Añadir al carrito</button>
                    </div>
                </div>
            </article>
        </section>

        <div class="main__description-review-container">
            <!-- Descripción -->
            <section class="main__description-review">
                <h3>Descripción</h3>
                <p>
                    Ha llegado el momento de que Scott Pilgrim tome algunas decisiones: 
                    ¿ama de verdad a Ramona, la misteriosa mensajera en patines?,
                    ¿sonará bien algún día Sex BobOmb, su banda?, ¿logrará pagar 
                    el alquiler?, ¿será capaz de conservar un trabajo?, ¿por qué
                    le siguen dos ninjas? Las referencias a las bandas de rock
                    independientes, los videojuegos y el manga siguen brillando 
                    en este nuevo volumen, en el que los agudos diálogos de O’Malley 
                    capturan la chulería, la insensibilidad y la desorientación de los 
                    componentes de una generación para la que trabajar de lavaplatos supone 
                    montárselo a lo grande.
                </p>
            </section>

            <!-- Valoraciones -->
            <section class="main__description-review">
                <h3>Valoraciones</h3>
                <p>No hay valoraciones de usuarios en este momento.</p>
            </section>
        </div>
        

        <!-- Productos relacionados -->
        <section class="main__related-products">
            <h2 class="main__related-products-title">Productos relacionados</h2>
            <div class="main__related-products-container-all">
                <article class="main__related-products-container">
                    <a href="/productos/noche-mas-oscura">
                        <img src="/images/product/product2.png" alt="La noche más oscura" class="main__related-products-img">
                        <i class="fa-solid fa-cart-shopping fa-cart-shopping-products"></i>
                        <h3>La noche más oscura (deluxe)</h3>
                        <p>$375 000</p>
                    </a>
                </article>
                <article class="main__related-products-container">
                    <a href="/productos/shingeki-no-kyojin">
                        <img src="/images/product/product3.png" alt="Shingeki no Kyojin 27" class="main__related-products-img">
                        <i class="fa-solid fa-cart-shopping fa-cart-shopping-products"></i>
                        <h3>Shingeki no Kyojin VOL. 27</h3>
                        <p>$56 000</p>
                    </a>
                </article>
                <article class="main__related-products-container">
                    <a href="/productos/vota-a-Loki">
                        <img src="/images/product/product1.png" alt="Vota a Loki" class="main__related-products-img">
                        <i class="fa-solid fa-cart-shopping fa-cart-shopping-products"></i>
                        <h3>Vota A Loki</h3>
                        <p>$81 000</p>
                    </a>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>