<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cómic vs Manga</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0a3fef0c68.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <!-- Logo -->
        <a href="/" class="header__logo-link">
            <img src="/images/logoCompleto.png" alt="Logo del sitio" class="header__logo">
        </a>

        <!-- Barra de búsqueda y botón -->
        <form action="" method="" class="header__form">
            <input type="text" placeholder="¡Vamos a navegar!" class="header__search-bar">
            <button type="submit" class="header__search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <!-- Enlaces de la barra de navegación: tienda, cómics, mangas, carrito de compras y botón de inicio de sesión -->
        <div class="header__text">
            <nav class="header__nav">
                <ul>
                    <li><a href="" class="header__link">Tienda</a></li>
                    <li><a href="" class="header__link">Cómics</a></li>
                    <li><a href="" class="header__link">Mangas</a></li>
                    <li>
                        <a href="/carrito" class="header__shopping">
                            <div class="header__shopping-container">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
            <button type="submit" class="header__login" onclick="window.location.href='/iniciar-sesion'">Iniciar sesión</button>
            <!-- Menú para la resolución mobile -->
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>

    <main>
        <!-- Slider de imágenes -->
        <div class="main__slider">
            <ul>
                <li>
                    <img src="/images/mainSlider/slider1.jpg" alt="Slider Marvel" class="slider__img" id="slider__img1">
                    <div class="slider__text"> <!-- Contenedor del texto con su fondo -->
                        <div class="slider__text2"> <!-- Fondo del texto -->
                            <h2>Team Marvel</h2>
                            <h3>¡Increíbles batallas e historias!</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/mainSlider/slider2.jpg" alt="Slider DC" class="slider__img" id="slider__img2">
                    <div class="slider__text"> <!-- Contenedor del texto con su fondo -->
                        <div class="slider__text2"> <!-- Fondo del texto -->
                            <h2>Team DC</h2>
                            <h3>¡Historias de múltiples universos!</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/mainSlider/slider3.jpg" alt="Slider Manga" class="slider__img" id="slider__img3">
                    <div class="slider__text"> <!-- Contenedor del texto con su fondo -->
                        <div class="slider__text2"> <!-- Fondo del texto -->
                            <h2>Team Manga</h2>
                            <h3>¡La mejor fantasía!</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/mainSlider/slider4.jpg" alt="Slider Independiente" class="slider__img" id="slider__img4">
                    <div class="slider__text"> <!-- Contenedor del texto con su fondo -->
                        <div class="slider__text2"> <!-- Fondo del texto -->
                            <h2>Team Independiente</h2>
                            <h3>¡Máxima diversidad!</h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Categorías -->
        <section class="main__categories">
            <div class="main__categories-title">
                <h2>Categorías</h2>
                <h3>¡Elige tu equipo de batalla!</h3>
            </div>
            <div class="main__slider-all">
                <!-- Slider Marvel -->
                <article class="main__slider-container main__slider-container-marvel">
                    <a href="" class="main__slider-categories">
                        <ul>
                            <li>
                                <img src="/images/marvelSlider/sliderMarvel1.png" alt="Imagen Marvel 1" class="slider__img-categories slider__img-categories1">
                            </li>
                            <li>
                                <img src="/images/marvelSlider/sliderMarvel2.png" alt="Slider Marvel 2" class="slider__img-categories slider__img-categories2">
                            </li>
                            <li>
                                <img src="/images/marvelSlider/sliderMarvel3.png" alt="Slider Marvel 3" class="slider__img-categories slider__img-categories3">
                            </li>
                        </ul>
                    </a>
                    <h2 class="slider-title">Marvel Team</h2>
                </article>
                <!-- Slider DC -->
                <article class="main__slider-container main__slider-container-DC">
                    <a href="" class="main__slider-categories">
                        <ul>
                            <li>
                                <img src="/images/dcSlider/sliderDC1.png" alt="Imagen DC 1" class="slider__img-categories slider__img-categories1">
                            </li>
                            <li>
                                <img src="/images/dcSlider/sliderDC2.png" alt="Slider DC 2" class="slider__img-categories slider__img-categories2">
                            </li>
                            <li>
                                <img src="/images/dcSlider/sliderDC3.png" alt="Slider DC 3" class="slider__img-categories slider__img-categories3">
                            </li>
                        </ul>
                    </a>
                    <h2 class="slider-title">DC Team</h2>
                </article>
                <!-- Slider Manga -->
                <article class="main__slider-container main__slider-container-manga">
                    <a href="" class="main__slider-categories">
                        <ul>
                            <li>
                                <img src="/images/mangaSlider/sliderManga1.png" alt="Imagen Manga 1" class="slider__img-categories slider__img-categories1">
                            </li>
                            <li>
                                <img src="/images/mangaSlider/sliderManga2.png" alt="Slider Manga 2" class="slider__img-categories slider__img-categories2">
                            </li>
                            <li>
                                <img src="/images/mangaSlider/sliderManga3.png" alt="Slider Manga 3" class="slider__img-categories slider__img-categories3">
                            </li>
                        </ul>
                    </a>
                    <h2 class="slider-title">Manga Team</h2>
                </article>
                <!-- Slider Independiente -->
                <article class="main__slider-container main__slider-container-independent">
                    <a href="" class="main__slider-categories">
                        <ul>
                            <li>
                                <img src="/images/independentSlider/sliderIndependiente1.png" alt="Imagen Independiente 1" class="slider__img-categories slider__img-categories1">
                            </li>
                            <li>
                                <img src="/images/independentSlider/sliderIndependiente2.png" alt="Slider Independiente 2" class="slider__img-categories slider__img-categories2">
                            </li>
                            <li>
                                <img src="/images/independentSlider/sliderIndependiente3.png" alt="Slider Independiente 3" class="slider__img-categories slider__img-categories3">
                            </li>
                        </ul>
                    </a>
                    <h2 class="slider-title">independent Team</h2>
                </article>
            </div>
        </section>

        <!-- Productos destacados -->
        <section class="main__featured-products">
            <h2 class="featured-products__title">Batallas<br>destacadas</h2>
            <img src="/images/battles.png" alt="Titulo productos destacados" class="featured-products__title-img">
            <div class="featured-products__container-all">
                <article class="featured-products__container">
                    <a href="/producto-vota-a-Loki">
                        <img src="/images/product/product1.png" alt="Primer producto destacado" class="featured-products__img">
                        <i class="fa-solid fa-cart-shopping fa-cart-shopping-products"></i>
                        <h3>Vota a Loki</h3>
                        <p>$81 000</p>
                    </a>
                </article>
                <article class="featured-products__container">
                    <a href="/producto-noche-mas-oscura">
                        <img src="/images/product/product2.png" alt="Segundo producto destacado" class="featured-products__img">
                        <i class="fa-solid fa-cart-shopping fa-cart-shopping-products"></i>
                        <h3>La noche más oscura (deluxe)</h3>
                        <p>$375 000</p>
                    </a>
                </article>
                <article class="featured-products__container">
                    <a href="">
                        <img src="/images/product/product3.png" alt="Tercer producto destacado" class="featured-products__img">
                        <i class="fa-solid fa-cart-shopping fa-cart-shopping-products"></i>
                        <h3>Shingeki no Kyojin VOL. 27</h3>
                        <p>$56 000</p>
                    </a>
                </article>
                <article class="featured-products__container">
                    <a href="">
                        <img src="/images/product/product4.png" alt="Cuardo producto destacado" class="featured-products__img">
                        <i class="fa-solid fa-cart-shopping fa-cart-shopping-products"></i>
                        <h3>Scott Pilgrim VOL. 04</h3>
                        <p>$53 000</p>
                    </a>
                </article>
            </div>
        </section>

         <!-- Beneficios -->
        <section class="main__advantages">
            <h2 class="advantages__title">¡Lucha a<br>nuestro lado!</h2>
            <img src="/images/advantages.png" alt="Titulo beneficios" class="advantages__title-img">
            <div class="advantage__container-all">
                <article class="advantage__container">
                    <i class="fa-solid fa-truck"></i>
                    <p>Envios a toda Colombia</p>
                </article>
                <article class="advantage__container">
                    <i class="fa-solid fa-credit-card"></i>
                    <p>Diversos medios de pago</p>
                </article>
                <article class="advantage__container">
                    <i class="fa-solid fa-face-grin-beam"></i>
                    <p>Gran diversidad</p>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <img src="/images/logoAbreviado.png" alt="Logo" class="footer__logo">
        <section class="footer__links">
            <ul>
                <li><a href="">Sobre nosotros</a></li>
                <li><a href="">Correo</a></li>
                <li><a href="">Teléfono</a></li>
            </ul>
        </section>
        <section class="footer__social-media">
            <ul>
                <li><a href=""><img src="/images/socialMedia/facebook.png" alt="Facebook" class="footer_social-media-img"></a></li>
                <li><a href=""><img src="/images/socialMedia/instagram.png" alt="Instagram" class="footer_social-media-img"></a></li>
                <li><a href=""><img src="/images/socialMedia/whatsapp.png" alt="Whatsapp" class="footer_social-media-img"></a></li>
            </ul>
        </section>
    </footer>
</body>
</html>