:root{
    --myTitles: 'Bebas Neue', cursive;
    --myTitles2: 'Lato', sans-serif;
    --myText: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    --myYellow: #FEB431;
    --myRed: #FE303D;
    --myPurple: #AC2194;
    --myBlue: #1572A1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--myText);
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

h2.titulo-intro{
    font-size: 24px;
    background-color: var(--myBlue);
    color: #fff;
    max-width: 1000px;
    text-align: center;
    pad: 100px;
}

.form-register{
    width: 400px;
    background-color: var(--myBlue);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: #fff ;
}

.form-register h2{
    font-size: 18px;
    margin-bottom: 20px;
}

.inputs{
    width: 100%;
    background-color: var(--myBlue);
    padding: 10px;
    border-radius:4px ;
    -webkit-border-radius:4px ;
    -moz-border-radius:4px ;
    -ms-border-radius:4px ;
    -o-border-radius:4px ;
    margin-bottom: 16px;
    border: 1px solid #fff;
    font-size: 12px;
}

.contenedor-boton{
    text-align: center;
    
}
.boton{
    width :50%;
        background-color: var(--myBlue) ;
        border: none;
        padding: 10px;
        color: #fff;
        margin: 16px 0;
        font-size: 16px;
        border: 1px solid #fff;
        text-align: center;
        
}