:root{
    --myTitles: 'Bebas Neue', cursive;
    --myTitles2: 'Lato', sans-serif;
    --myText: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    --myYellow: #FEB431;
    --myRed: #FE303D;
    --myPurple: #AC2194;
    --myBlue: #1572A1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: linear-gradient(to bottom, var(--myPurple) , #ffffff00);
}
body{
    font-family: var(--myText);
    
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imgBx{
    position:relative;
    width: 50%;
    height: 100%;
}

section.imgBx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;    
    mix-blend-mode: screen;
}

section .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .contentBx .formBx{
    width: 50%;
}

section .contentBx .formBx h2{
    color: #607d8b;
    font-weight: 600;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom:4px solid var(--myPurple);
    display: inline-block;
    font-family: var(--myText);
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx{
    margin-bottom: 20px;
}

section .contentBx .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: var(--myBlue);
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: var(--myText);
}

section .contentBx .formBx .inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid var(--myBlue);
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

section .contentBx .formBx .inputBx input[type="submit"]{
    background: var(--myPurple) ;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-family: var(--myText);
    cursor: pointer;
}

section .contentBx .formBx .inputBx input[type="submit"]:hover{
    background: var(--myRed);
}

section .contentBx .formBx .remember{
    margin-bottom: 10px;
    color:#607d8b;
    font-weight:400;
    font-size: 18px;
    font-family: var(--myText)
}

section .contentBx .formBx .inputBx p{
    color: #607d8b;
}

section .contentBx .formBx .inputBx p a{
    color: var(--myPurple);
}

.header__search-bar{
    display: none;
}

.header__search-button{
    display: none;
}
@media (max-width:768px){
    section .imgBx{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    section .contentBx{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    section .contentBx .formBx{
        width: 100%;
        padding: 40px;
        background: rgba(255 255 255 / 0.9);
        margin: 50px;
    }
}
    
