/* Paleta de colores y fuente seleccionadas */
:root{
    --myTitles: 'Montserrat', sans-serif;
    --myText: 'Lato', sans-serif;
    --myYellow: #FECC4F;
    --myPink: #F11E77;
    --myBlue: #251854;
    --myGreen: #94CB91;
}

/* Normalización de estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Permite controlar el tamaño de fuente en rem: 1rem = 10px */
html{
    font-size: 62.5%;
}

/* ========= ESTILOS BANNER ========= */

/* Fondo de la sección y forma */
.main__banner{
    width: 95%;
    margin: 10px auto;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
    height: 30vh;
    background-image: linear-gradient(to bottom, #000000, #ffffff00);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main__banner-marvel{
    background-image: linear-gradient(to bottom, var(--myPink), #ffffff00);
}

.main__banner-DC{
    background-image: linear-gradient(to bottom, var(--myBlue), #ffffff00);
}

.main__banner-manga,
.main__banner-comic{
    background-image: linear-gradient(to bottom, #000000, #ffffff00);
}

.main__banner-independent{
    background-image: linear-gradient(to bottom, var(--myGreen), #ffffff00);
}

/* Estilos imagenes o video del banner*/
.main__banner img{
    max-width: 200%;
    opacity: 70%;
}

.main__banner-text{
    position: absolute;
    top: 0;
    text-transform: uppercase;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main__banner-text h2{
    font-family: var(--myTitles);
    font-size: 3rem;
    color: #ffffff;
    text-shadow:
        -2px    -2px    0   #000000,
        0       -1px    0   #000000,
        2px     -2px    0   #000000,
        2px     0       0   #000000,
        2px     2px     0   #000000,
        0       2px     0   #000000,
        -2px    2px     0   #000000,
        -2px    0       0   #000000;
    letter-spacing: 0.135em;
}

.main__banner-text img{
    margin: 0 auto;
    width: 40vw;
}

.main__banner video{
    width: 120%;
    opacity: 60%;
}

/* Estilos de las imágenes del Slider */
.main__banner-img{
    position: absolute;
    width: 100%;
    z-index: 1;
    mix-blend-mode: overlay;
    top: 40px;
    opacity: 50%;
}

.main__banner-img-above{
    opacity: 100%;
    mix-blend-mode: initial;
    top: 30px;
    right: 5px;
    z-index: 3;
}

/* Estilos imagen lateral */
.main__side-image{
    display: none;
}

/* ========= ESTILOS DE LOS PRODUCTOS ========= */

/* Fondo y distribución de la sección */
main{
    min-height: 100vh;
    padding-bottom: 10px;
}

.main__products{
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Contenedor de los productos, proporciona el borde*/
.product__container{
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    box-shadow: 0px 10px 10px #000000;
    position: relative;
    background-color: #ffffff;
}

.product__container:hover{
    background-color: #000000;
}

.product__container-marvel:hover{
    background-color: var(--myPink);
}

.product__container-DC:hover{
    background-color: var(--myBlue);
}

.product__container-manga:hover,
.product__container-comic:hover{
    background-color: #000000;
}

.product__container-independent:hover{
    background-color: var(--myGreen);
}

/* Elimina los estilos de tipo enlace y define el tamaño de la imagen */
.product__container a{
    text-align: center;
    color: #000000;
    text-decoration: none;
    width: 60vw;
    margin: 10px;
    position: relative;
    text-transform: uppercase;
}

.product__container img{
    width: 100%;
}

/* Estilos carrito de compras de los productos destacados */
.fa-cart-shopping-products{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    margin: 0;
    margin-top: -20px;
    border: 2px solid #ffffff;
}

.fa-cart-shopping-products:hover{
    transform: scale(1.1);
    color: #ffffff;
    background-color: #000000;
}

.fa-cart-shopping-products-marvel:hover{
    color: #ffffff;
    background-color: var(--myPink);
}

.fa-cart-shopping-products-DC:hover{
    color: #ffffff;
    background-color: var(--myBlue);
}

.fa-cart-shopping-products-manga:hover,
.fa-cart-shopping-products-comic:hover{
    color: #ffffff;
    background-color: #000000;
}

.fa-cart-shopping-products-independent:hover{
    color: #ffffff;
    background-color: var(--myGreen);
}


/* Estilos título de cada producto */
.product__container h3{
    font-family: var(--myTitles);
    font-size: 2rem;
}

.product__container:hover h3,
.product__container-comic:hover h3,
.product__container-marvel:hover h3,
.product__container-DC:hover h3,
.product__container-manga:hover h3,
.product__container-independent:hover h3{
    color: #ffffff;
}


/* Estilos precio de cada producto */
.product__container p{
    font-family: var(--myText);
    font-size: 1.5rem;
}

.product__container:hover p,
.product__container-comic:hover p,
.product__container-marvel:hover p,
.product__container-DC:hover p,
.product__container-manga:hover p,
.product__container-independent:hover p{
    color: #ffffff;
}

/* =========ESTILOS PARA RESOLUCIÓN TABLET=========*/

@media(min-width: 481px){
    /* =========ESTILOS DE LOS PRODUCTOS PARA RESOLUCIÓN TABLET========= */

    /* Distribución de todos los productos */
    .main__products{
        width: 100%;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 20px;
    }

    /* Contenedor de los productos, proporciona el borde*/
    .product__container{
        width: 40vw;
        margin-bottom: 10px;
    }
}

/* =========ESTILOS PARA RESOLUCIÓN COMPUTADOR=========*/

@media(min-width: 769px){
    /* ========= ESTILOS BANNER PARA RESOLUCIÓN COMPUTADOR ========= */

    /* Fondo de la sección y forma */
    .main__banner{
        width: 99%;
        height: 40vh;
    }

    /* Estilos imagenes o video del banner*/
    .main__banner img{
        width: 100%;
    }

    .main__banner-text h2{
        font-size: 5rem;
    }

    /* Estilos de las imágenes del Slider */
    .main__banner-img{
        top: -20px;
    }

    .main__banner-img-above{
        top: -30px;
    }

    /* =========ESTILOS DE LOS PRODUCTOS PARA RESOLUCIÓN COMPUTADOR ========= */

    .main__products{
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    /* Contenedor de los productos, proporciona el borde*/
    .product__container{
        width: 15vw;
        margin: 0 5px 40px 5px;
    }

    .product__container p{
        opacity: 0;
    }

    .product__container:hover p{
        opacity: 100;
    }

    /* Estilos imagen lateral */
    .main__side-container{
        position: sticky;
        top: 0;
    }

    .main__side-image{
        display: block;
        position: absolute;
        right: 0;
        width: 12vw;
    }
}

@keyframes banner{
    0%, 30% {
        background-image: url('/images/mainSlider/slider2V2.png');
        opacity: 1;
    }
    31%, 34% {
        opacity: 0.1;
    }
    35%, 65% {
        background-image: url('/images/mainSlider/slider3V2.png');
        opacity: 1;
    }
    66%, 69% {
        opacity: 0.1;
    }
    70%, 100% {
        background-image: url('/images/mainSlider/slider4V2.png');
        opacity: 1;
    }
}