/* Paleta de colores y fuente seleccionadas */
:root{
    --myTitles: 'Montserrat', sans-serif;
    --myText: 'Lato', sans-serif;
    --myYellow: #FECC4F;
    --myPink: #F11E77;
    --myBlue: #251854;
    --myGreen: #94CB91;
}

/* Normalización de estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--myText);
}

section{
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
}

section .imgBx{
    position:relative;
    width: 50%;
    height: 100%;
}

section.imgBx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;    
    mix-blend-mode: screen;
}

section .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-top: 150px;
}

section .contentBx .formBx{
    width: 50%;
}

section .contentBx .formBx h2{
    color: #607d8b;
    font-weight: 600;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom:4px solid var(--myBlue);
    display: inline-block;
    font-family: var(--myText);
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx{
    margin-bottom: 20px;
}

section .contentBx .formBx .inputBx label{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: var(--myText);
}

section .contentBx .formBx .inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid var(--myBlue);
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

section .contentBx .formBx .inputBx input[type="submit"]{
    background: var(--myBlue) ;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 300;
    font-family: var(--myText);
    cursor: pointer;
}

section .contentBx .formBx .inputBx input[type="submit"]:hover{
    background: var(--myYellow);
}


section .contentBx .formBx .inputBx p{
    color: #607d8b;
    font-size: 16px;
}

section .contentBx .formBx .inputBx p a{
    color: var(--myBlue);
    font-size: 16px;
}

.header__search-bar{
    display: none;
}

.header__search-button{
    display: none;
}

/* Estilos input para subir la imagen */
input[type="file"]{
    display: none;
}

.main__form-upload{
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    background-color: #ffffff;
    color: var(--myBlue);
    font-family: var(--myTitles);
    text-align: center;
    letter-spacing: 1px;
    border: 1px solid var(--myBlue);
}

.main__form-upload:hover{
    background-color: var(--myYellow);
    color: #ffffff;
}

/* Estilos para los errores */
section .contentBx .formBx .inputBx .invalid-value{
    border: 1px solid var(--myPink);
}

.form-errors{
    font-family: var(--myText);
    color: var(--myPink);
    font-weight: bold;
    font-size: 16px;
}

@media (max-width:768px){
    section .imgBx{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    section .contentBx{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    section .contentBx .formBx{
        width: 100%;
        padding: 25px;
        background: rgba(255 255 255 / 0.9);
        margin: 50px;
        font-size: 10px;
    }
}

@media(min-width: 769px){
    section{
        height: auto;
    }

    section .imgBx{
        position: absolute;
        width: 50%;
        height: 100%;
        object-fit: cover;
    }

    section .contentBx{
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100vh;
        z-index: 1;
        margin: 0;
    }

    section .contentBx .formBx{
        width: 30%;
        margin-right: 10%;
    }
}
    
