/* Paleta de colores y fuente seleccionadas */
:root{
    --myTitles: 'Montserrat', sans-serif;
    --myText: 'Lato', sans-serif;
    --myYellow: #FECC4F;
    --myPink: #F11E77;
    --myBlue: #251854;
    --myGreen: #94CB91;
}

/* Normalización de estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Permite controlar el tamaño de fuente en rem: 1rem = 10px */
html{
    font-size: 62.5%;
    background-color: #ffffff;
}

/* =========ESTILOS DEL FORMULARIO========= */

main{
    display: flex;
    width: 100%;
}

/* Estilos contenedor del formulario y título */
.main-container{
    width: 90%;
    background: rgba( 21, 114, 161, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px;
    margin: 10px auto;
    margin-top: 90px;
}

/* Estilos título */
.main__form-tittle{
    font-family: var(--myTitles);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #ffffff;
    font-size: 2.5rem;
    border-bottom: 4px solid #ffffff;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 2px
}

/* Estilos formulario */
.main__form{
    font-family: var(--myText);
    color: #ffffff;
    width: 100%;
}

/* Estilos label del formulario */
.main__form label{
    font-size: 1.5rem;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Se especifica que las label que describen los inputs están en negrilla */
.main__form-label{
    font-weight: bold;
}

/* Estilos de los inputs de texto y números */
.main__form input[type=text],
.main__form input[type=number],
.main__form div textarea{
    background-color: transparent;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    font-family: var(--myText);
    font-size: 1.5rem;
    width: 100%;
    resize: none;
    color: #ffffff;
}

.main__form input:focus, .main__form div textarea:focus{
    outline: none;
    border: 1px solid var(--myYellow);
}

.main__form input::placeholder{
    color: #ffffff;
    font-style: italic;
}

/* Se eliminan los botones por defecto del input tipo number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Estilos input para subir la imagen */
input[type="file"]{
    display: none;
}

.main__form-upload{
    border-radius: 30px;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    font-family: var(--myText);
    width: 100%;
    cursor: pointer;
    background-color: #ffffff;
    color: var(--myBlue);
    font-family: var(--myTitles);
    text-align: center;
    letter-spacing: 1px;
}

.main__form-upload:hover{
    border: 2px solid #ffffff;
    background-color: var(--myYellow);
    color: #ffffff;
}

/*  Estilos del Select del formato*/
select{
    border-radius: 30px;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    font-family: var(--myText);
    width: 100%;
    cursor: pointer;
    background-color: #ffffff;
    color: var(--myBlue);
    font-family: var(--myTitles);
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

select:hover{
    border: 2px solid #ffffff;
    background-color: var(--myYellow);
    color: #ffffff;
}

/* Estilos de los botones y su contenedor */
.main__form-buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main__form-buttons button{
    border-radius: 30px;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    font-family: var(--myText);
    width: 40%;
    cursor: pointer;
    background-color: #ffffff;
    color: var(--myBlue);
    font-family: var(--myTitles);
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.main__form-buttons button:hover{
    border: 2px solid #ffffff;
    background-color: var(--myYellow);
    color: #ffffff;
}

.delete-button{
    width: 100%;
    display: block;
    margin-top: 10px;
    text-align: center;
}

/* Estilos para los errores */
.main__form input.invalid-value,
.main__form textarea.invalid-value,
.main__form label.invalid-value,
.main__form select.invalid-value{
    border: 1px solid var(--myYellow);
}

.form-errors{
    font-family: var(--myText);
    color: var(--myYellow);
    font-weight: bold;
    font-size: 16px;
}

/* =========ESTILOS PARA RESOLUCIÓN TABLET=========*/

@media(min-width: 481px){
    /* =========ESTILOS DEL FORMULARIO PARA RESOLUCIÓN TABLET========= */

    /* Estilos contenedor del formulario y título */
    .main-container{
        width: 80%;
        padding: 30px;
    }
}

/* =========ESTILOS PARA RESOLUCIÓN COMPUTADOR=========*/

@media(min-width: 769px){
    /* =========ESTILOS DEL FORMULARIO PARA RESOLUCIÓN COMPUTADOR========= */

    /* Estilos contenedor del formulario y título */
    .main-container{
        width: 50%;
        padding: 60px;
    }
}