* Paleta de colores y fuente seleccionadas */
:root{
    --myTitles: 'Bebas Neue', cursive;
    --myTitles2: 'Lato', sans-serif;
    --myText: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    --myYellow: #FEB431;
    --myRed: #FE303D;
    --myPurple: #AC2194;
    --myBlue: #1572A1;
}

/* Normalización de estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Permite controlar el tamaño de fuente en rem: 1rem = 10px */
html{
    font-size: 62.5%;
}

.title-cart{
    font-family: var(--myTitles);
    font-size: 3rem;
    color: #ffffff;
    text-shadow:
        -2px    -2px    0   #000000,
        0       -1px    0   #000000,
        2px     -2px    0   #000000,
        2px     0       0   #000000,
        2px     2px     0   #000000,
        0       2px     0   #000000,
        -2px    2px     0   #000000,
        -2px    0       0   #000000;
    letter-spacing: 0.135em;

}

.shopCartTitle{
   font-family: var(--myTitles);
   font-weight: 900;
   color: #000000;
   font-size:  2.2rem;
   letter-spacing: 10px;
   width: auto;
   margin-left: 10px;
   display: auto;
   text-align: center;
}

.shopCart{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    height: 100px;
}

.row{
    margin: 20px 8px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.columns {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.article{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 10px 10px #000000;
    width:65vw;
    margin-bottom: 15px;

}

.image-product{
    border:0;
    width: 50%;
    align-self: center;
}

.info-card{
    padding: 10px 20px;
    width: 100%;
    text-align: center
    }

h4.name-card {
    font-family: var(--myTitles);
    font-size: 2.2rem;
    margin-top: 10px;
    text-transform: uppercase;
}
.cantity-card, .unities-card{
    font-family: var(--myTitles);
    font-size: 1.2rem;
    }


    .type-price, .price{
        font-weight: bolder;
        font-size: 2.2rem;
        font-family: var(--myTitles2);
        font-style: italic;
    }

    main__featured-products1{
        margin-top: 30px;
    }

    .btn-flotante, .subtotal-section-container {
        font-size: 16px; 
        text-transform: uppercase; 
        font-weight: bold;
        border-radius: 5px; 
        letter-spacing: 2px; 
        padding: 18px 30px; 
        position: fixed;
        transition: all 300ms ease 0ms;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        z-index: 99;
        font-family: var(--myTitles);
        text-align: center;
    
    }

    .btn-flotante{
        background-color: #F11E77; 
        color: #ffffff;
        bottom: 40px;
        left: 40px;
    }

    .subtotal-section-container{
        background-color: #ffffff;
        color: #000000;
        bottom: 80px;
        left: 40px;
    }


    p.subtotal, p.pesos {
        font-family: var(--myTitles2);
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    p.pesos{
        font-weight: bold;
    }
    span.span-price{
        font-family: var(--myText);
        font-size: 1.8rem;
        font-weight: 900;
    }

    .btn-flotante:hover {
        background-color: #251854; /* Color de fondo al pasar el cursor */
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
        transform: translateY(-7px);
        opacity: 100%;

    }

    .shopCartRelated{
        color: #ffffff;
        font-size: 2.2rem;
        text-align: center;
    }

    @media (min-width: 481px){

        .columns {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .article{

            flex-direction: row;
            width: 60vw;
        }

        .image-product{
            border:0;
            width: 30%;
            align-self: center;
        }
       
    }

    @media(min-width: 750px){

        .article{
            align-items: center;
            width: 45vw;
        }

        }

    @media(min-width: 1000px){

        .article{
            align-items: center;
            width: 30vw;
        }

        .shopCartRelated{
            color: #ffffff;
            font-size: 3.5rem;
        }

    }


    @media only screen and (max-width: 600px) {
         .btn-flotante {
            font-size: 14px;
            padding: 12px 20px;
            bottom: 40px;
            right: 20px;
            opacity:75%
        }

        .subtotal-section-container{
            font-size: 14px;
            padding: 12px 20px;
            bottom: 80px;
            right: 20px;
            opacity:75%
        }
    } 