/* Paleta de colores y fuente seleccionadas */
:root{
    --myTitles: 'Bebas Neue', cursive;
    --myTitles2: 'Lato', sans-serif;
    --myText: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    --myYellow: #FEB431;
    --myRed: #FE303D;
    --myPurple: #AC2194;
    --myBlue: #1572A1;
}

/* Normalización de estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Permite controlar el tamaño de fuente en rem: 1rem = 10px */
html{
    font-size: 62.5%;
}

/* =========ESTILOS DEL HEADER========= */

/* Permite que el header esté sobre el slider, el da un fondo en degradado y distribuye los elementos */
header{
    position: absolute;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, #1572A1 , #ffffff00);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Estilos del logo para la resolución mobile */
.header__logo{
    width: 50%;
    margin: 5px;
}

/* Oculta la barra de búsqueda y los enlaces para la resolución mobile */
.header__form, .header__link{
    display: none;
}

/* Distribuye el carrito de compras, botón de inicio de sesión y menú */
.header__text{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Permite que los enlaces de la barra de navegación estén en una fila */
.header__nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Elimina las viñetas de los enlaces de la barra de navegación */
.header__nav ul li{
    list-style: none;
}

/* Estilos del carrito de compras, incluyendo su fondo */
.header__shopping-container{
    background-color: RGBA(255, 255, 255, 0.6);
    border-radius: 50%;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.fa-cart-shopping{
    align-self: center;
    color: var(--myRed);
    font-size: 2rem;
}

/* Estilos para el botón de inicio de sesión */
.header__login{
    background: var(--myRed);
    font-family: var(--myTitles);
    color: white;
    font-size: 1.3rem;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    text-align: center;
    border: white solid 1px;
}

/* Estilos para el menú en la resolución mobile */
.fa-bars{
    background: var(--myRed);
    color: white;
    font-size: 1.5rem;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: white solid 1px;
}

/* =========ESTILOS DEL SLIDER========= */

/* Permite que solo una imagen del Slider se muestre a la vez y que esta ocupe el 100% del viewport */
.main__slider{
    width: 100%;
    overflow: hidden;
    background: #000000;
    padding-bottom: 5px;
}

/* Preparación para que cada imagen individual tenga un 100% del viewport. Se genera la animación que hace que las imagenes se desplacen */
.main__slider ul{
    display: flex;
    width: 400%;

    animation: change 20s infinite alternate;
}

/* Elimina las viñetas de las imágenes del Slider y hace que cada imagen individual tenga un 100% del viewport */
.main__slider ul li{
    list-style: none;
    width: 100%;
    position: relative;
}

.slider__img{
    width: 100%;
}

/* Permite que los textos que se muestran junto con cada imagen del Slider esté sobre ellas */
.slider__text{
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

/* Estilos de los los contenedores del texto que se muestran junto con cada imagen del Slider */
.slider__text2{
    /* background: RGBA(254, 48, 61, 0.6); */
    background-image: linear-gradient(to bottom, var(--myRed), #00000000);
    padding: 5px;
    width: 60%;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0px 10px 10px black;
}

/* Estilos de los textos principales que se muestran junto con cada imagen del Slider */
.slider__text h2{
    font-family: var(--myTitles);
    font-size: 3rem;
    color: white;
    text-align: center;
}

/* Estilos de los textos secundarios (descripciones) que se muestran junto con cada imagen del Slider */
.slider__text h3{
    font-family: var(--myText);
    font-size: 1.2rem;
    color: white;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

/* =========ESTILOS DE LAS CATEGORÍAS========= */

/* Fondo de la sección */
.main__categories{
    background-image: linear-gradient(to bottom, var(--myBlue) , #ffffff);
    width: 100%;
    padding-top: 10px;
}

/* Estilos contenedor de los títulos de la sección*/
.main__categories-title{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: auto;
}

/* Estilos título principal de la sección*/
.main__categories-title h2{
    font-family: var(--myTitles);
    color: white;
    font-size: 2.5rem;
    width: auto;
}

/* Estilos título secundario de la sección*/
.main__categories-title h3{
    font-family: var(--myText);
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: italic;
}

/* =========ESTILOS DE LOS SLIDER DE CATEGORÍAS========= */

/* Contenederor del Slider, proporciona el borde*/
.main__slider-container{
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    box-shadow: 0px 10px 10px black;
    position: relative;
    background-color: white;
}

/* Permite que solo una imagen del Slider se muestre a la vez y que esta ocupe el 60% del viewport */
.main__slider-categories{
    width: 60vw;
    overflow: hidden;
    margin: 0 auto;
    margin: 10px;
}

/* Preparación para que cada imagen individual tenga un 100% del contenedor. Se genera la animación que hace que las imagenes se desplacen */
.main__slider-categories ul{
    display: flex;
    width: 300%;
    animation: changeCategories 20s infinite alternate;
}

/* Elimina las viñetas de las imágenes del Slider y hace que cada imagen individual tenga un 100% del contenedor */
.main__slider-categories li{
    list-style: none;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider__img-categories{
    width: 100%;
}

/* Estilos texto que acompaña al Slider */
.slider-title{
    position: absolute;
    bottom: 20px;
    font-family: var(--myTitles);
    color: white;
    font-size: 2.2rem;
    background: linear-gradient(135deg,  var(--myPurple) , #00000000);
    box-shadow: 0px 10px 10px black;
    padding: 7px;
    border-radius: 10px;
    text-align: center;
}

/* =========ESTILOS PARA RESOLUCIÓN TABLET=========*/

@media(min-width: 481px){
    /* =========ESTILOS DEL HEADER PARA RESOLUCIÓN TABLET========= */

    /* Estilos del logo */
    .header__logo{
        width: 30%;
    }

    /* Distribuye los enlaces de la barra de navegación, carrito de compras y botón de incio de sesión en el espacio no ocupado por el logo */
    .header__text{
        width: 70%;
    }
    
    /* Muestra la barra de búsqueda y los enlaces para la resolución tablet y superiores */
    .header__form, .header__link{
        display: inline-block;
    }

    /* Estilos de la barra de búsqueda (input y botón) */
    .header__form{
        width: 50%;
        display: flex;
    }

    .header__search-bar{
        width: 85%;
        padding: 3px;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        font-family: var(--myText);
        font-size: 1.5rem;
    }

    .header__search-button{
        padding: 3px;
        border: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-family: var(--myText);
        font-size: 1.5rem;
        background-color: white;
        color: var(--myRed);
    }

    /* Estilos de los enlaces de la barra de navegación */
    .header__nav ul li a{
        text-decoration: none;
        color: white;
        margin: 2px;
        font-family: var(--myTitles);
        font-size: 1.5rem;
    }

    /* Impide que el texto del botón de inicio de sesión pase a 2 líneas */
    .header__login{
        white-space: nowrap;
    }
    
    /* Oculta el menú de la barra de navegación para la resolución tablet y superiores */
    .fa-bars{
        display: none;
    }

    /* =========ESTILOS DEL SLIDER PARA RESOLUCIÓN TABLET========= */

    /* Estilos de los los contenedores del texto que se muestran junto con cada imagen del Slider */
    .slider__text2{
        width: 40%;
    }

    /* Estilos de los textos principales que se muestran junto con cada imagen del Slider */
    .slider__text h2{
        font-size: 3.5rem;
    }

    /* Estilos de los textos secundarios (descripciones) que se muestran junto con cada imagen del Slider */
    .slider__text h3{
        font-size: 1.5rem;
    }

    /* =========ESTILOS DE LAS CATEGORÍAS PARA RESOLUCIÓN TABLET========= */

    /* Distribución sección */
    .main__categories{
        display: flex;
        flex-direction: column;
    }

    /* Distrinución de todos los slider de categorias*/
    .main__slider-all{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* =========ESTILOS DE LOS SLIDER DE CATEGORÍAS PARA RESOLUCIÓN TABLET========= */

    /* Contenederor del Slider, proporciona el borde*/
    .main__slider-container{
        width: 40vw;
        margin: 0;
        margin-bottom: 20px;
    }
}

/* =========ESTILOS PARA RESOLUCIÓN COMPUTADOR=========*/

@media(min-width: 769px){
    /* =========ESTILOS DEL HEADER PARA RESOLUCIÓN COMPUTADOR========= */

    /* Estilos del logo */
    .header__logo{
        width: 20%;
    }

    /* Estilos de la barra de búsqueda (input) */
    .header__search-bar{
        padding: 6px;
        font-size: 1.7rem;
    }

    /* Estilos de la barra de búsqueda (botón) */
    .header__search-button{
        padding: 6px;
        font-size: 1.7rem;
    }

    /* Distribuye los enlaces de la barra de navegación, carrito de compras y botón de incio de sesión en el espacio no ocupado por el logo */
    .header__text{
        width: 50%;
        justify-content: space-between;
    }

    /* Estilos de los enlaces de la barra de navegación y carrito de compras */
    .header__nav{
        width: 80%;
    }

    .header__nav ul{
        width: 100%;
        justify-content: space-evenly;
    }

    .header__nav ul li a{
        font-size: 2rem;
    }

    /* Estilos para el botón de inicio de sesión */
    .header__login{
        font-size: 2rem;
        margin-right: 30px;
    }

    /* =========ESTILOS DEL SLIDER PARA RESOLUCIÓN COMPUTADOR========= */

    /* Estilos de los los contenedores del texto que se muestran junto con cada imagen del Slider */
    .slider__text2{
        width: 25%;
    }

    /* =========ESTILOS DE LAS CATEGORÍAS PARA RESOLUCIÓN COMPUTADOR========= */

    /* Estilos título principal de la sección*/
    .main__categories-title h2{
        font-family: var(--myTitles);
        font-size: 4rem;
    }

    /* Estilos título secundario de la sección*/
    .main__categories-title h3{
        font-size: 2rem;
    }

    /* =========ESTILOS DE LOS SLIDER DE CATEGORÍAS PARA RESOLUCIÓN COMPUTADOR========= */

    /* Contenederor del Slider, proporciona el borde*/
    .main__slider-container{
        width: 15vw;
    }

    /* Distribuciones especiales*/
    .main__slider-container-DC{
        position: relative;
        bottom: 50px;
    }

    .main__slider-container-independent{
        position: relative;
        bottom: 50px;
    }
}

/* Animación del Slider principal, genera el desplazamiento de las imágenes*/
@keyframes change{
    0%{margin-left: 0;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

/* Animación del Slider de las categorias, genera el desplazamiento de las imágenes*/
@keyframes changeCategories{
    0%{margin-left: 0;}
    30%{margin-left: 0%;}

    35%{margin-left: -100%;}
    65%{margin-left: -100%;}

    70%{margin-left: -200%;}
    100%{margin-left: -200%;}
}