:root{
    --myTitles: 'Bebas Neue', cursive;
    --myTitles2: 'Lato', sans-serif;
    --myText: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    --myYellow: #FEB431;
    --myRed: #FE303D;
    --myPurple: #AC2194;
    --myBlue: #1572A1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.header-container{
    background-image: linear-gradient(to bottom, #1572A1 , #ffffff00);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header{
    position: absolute;
    top: 0;
    z-index: 1;
}

.header__logo{
    width: 50%;
    margin: 5px;
}

.header__search-bar, .header__nav{
    display: none;
}

.header__text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__shopping{
    display: flex;
}

.fa-cart-shopping{
    align-self: center;
    text-decoration: none;
    color: var(--myRed);
    font-size: 2rem;
    margin-left: 5px;
    margin-right: 5px;
}

.header__login{
    background: var(--myRed);
    font-family: var(--myTitles);
    color: white;
    font-size: 1.3rem;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    text-align: center;
}

.fa-bars{
    background: var(--myRed);
    color: white;
    font-size: 1.5rem;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.main__slider{
    width: 100vw;
    overflow: hidden;
}

.main__slider ul{
    display: flex;
    width: 400%;

    animation: change 20s infinite alternate;
}

.main__slider li{
    list-style: none;
    width: 100%;
    position: relative;
}

.slider__text{
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.slider__text2{
    background: RGBA(254, 48, 61, 0.6);
    width: 60%;
    border-radius: 10px;
    margin: 5px;
}

.slider__text h2{
    font-family: var(--myTitles);
    font-size: 3rem;
    color: white;
    text-align: center;
}

.slider__text h3{
    font-family: var(--myText);
    font-size: 1.2rem;
    color: white;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

.slider__img{
    width: 100%;
}

@keyframes change{
    0%{margin-left: 0;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

@media(min-width: 481px){
    .header-container{
        display: flex;
        align-items: center;
    }

    .header__logo{
        width: 30%;
    }

    .header__text{
        width: 70%;
    }
    
    .header__search-bar, .header__nav{
        display: inline-block;
    }

    .header__search-bar{
        width: 50%;
        padding: 5px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        font-family: var(--myText);
    }

    .header__nav ul{
        display: flex;
        flex-direction: row;
    }

    .header__nav ul li{
        list-style: none;
    }

    .header__nav ul li a{
        text-decoration: none;
        color: white;
        margin: 2px;
        font-family: var(--myTitles);
        font-size: 1.5rem;
    }
    
    .fa-bars{
        display: none;
    }
}