/* Paleta de colores y fuente seleccionadas */
:root{
    --myTitles: 'Montserrat', sans-serif;
    --myText: 'Lato', sans-serif;
    --myYellow: #FECC4F;
    --myPink: #F11E77;
    --myBlue: #251854;
    --myGreen: #94CB91;
}

/* Normalización de estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Permite controlar el tamaño de fuente en rem: 1rem = 10px */
html{
    font-size: 62.5%;
    background-color: #ffffff;
}

/* =========ESTILOS DEL SLIDER========= */

/* Permite que solo un texto del Slider se muestre a la vez */
.main__slider{
    width: 95%;
    overflow: hidden;
    background: var(--myYellow);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
    height: auto;
    padding-bottom: 50px;
    margin: 10px auto;
}

/* Preparación para que cada imagen individual tenga un 100% del viewport. Se genera la animación que hace que las imagenes se desplacen */
.main__slider ul{
    display: flex;
    width: 400%;
    height: 100%;

    animation: change 20s infinite alternate;
}

/* Elimina las viñetas de las imágenes del Slider y hace que cada imagen individual tenga un 100% del viewport */
.main__slider ul li{
    list-style: none;
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

/* Estilos palabra "Team" del slider */
.slider__title-1{
    font-family: var(--myTitles);
    font-size: 2.8rem;
    font-weight: 900;
    margin: 0;
    margin-left: 20px;
    position: relative;
    z-index: 4;
}

.slider__title1-marvel{
    color: var(--myPink);
}

.slider__title1-dc{
    color: var(--myBlue);
}

.slider__title1-independent{
    color: var(--myGreen);
}

/* Estilos palabra segunda línea de texto del slider */
.main__slider div{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-left: 20px;
}

.slider__title-2{
    display: flex;
    align-items: center;
}

.slider__title-2 div{
    border-top: 8px solid #000000;
    width: 9%;
    margin: 0;
    position: relative;
}

.slider__title2-marvel div{
    border-top: 8px solid var(--myPink);
}

.slider__title2-dc div{
    border-top: 8px solid var(--myBlue);
}

.slider__title2-independent div{
    border-top: 8px solid var(--myGreen);
}

.slider__title-2 h1{
    font-family: var(--myTitles);
    font-size: 2.8rem;
    font-weight: 900;
    margin: 0;
    letter-spacing: 0.135em;
    color: var(--myYellow);
    text-shadow:
        -1px    -1px    0   #FFFFFFFF,
        0       -1px    0   #FFFFFFFF,
        1px     -1px    0   #FFFFFFFF,
        1px     0       0   #FFFFFFFF,
        1px     1px     0   #FFFFFFFF,
        0       1px     0   #FFFFFFFF,
        -1px    1px     0   #FFFFFFFF,
        -1px    0       0   #FFFFFFFF;
    margin-left: 5px;
    position: relative;
    z-index: 4;
}

.main__slider ul li h2{
    font-family: var(--myText);
    font-style: italic;
    margin-left: 20px;
    position: relative;
    z-index: 4;
}

/* Estilos de las imágenes del Slider */
.main__slider-img{
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    mix-blend-mode: overlay;
    top: 40px;
}

.main__slider-img-nooverlay{
    mix-blend-mode: initial;
    top: 30px;
    right: 10px;
    z-index: 3;
}

/* Preparación para que cada imagen individual tenga un 100% del viewport. Se genera la animación que hace que las imagenes se desplacen */
.main__slider-img ul{
    display: flex;
    width: 400%;

    animation: change 20s infinite alternate;
}

/* Elimina las viñetas de las imágenes del Slider y hace que cada imagen individual tenga un 100% del viewport */
.main__slider-img ul li{
    list-style: none;
    width: 100%;
    position: relative;
}

.slider__img{
    width: 100%;
    height: auto;
}

/* =========ESTILOS DE LAS CATEGORÍAS========= */

/* Fondo de la sección */
.main__categories1{
    clip-path: polygon(0 0, 100% 60%, 100% 100%, 0 100%);
    background-color: var(--myPink);
    width: 100%;
    height: 10vh;
    margin-top: -35px;
}

.main__categories2{
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    background-color: var(--myPink);
    width: 100%;
    height: 10vh;
    margin-top: -5px;
}

.main__categories{
    background-color: var(--myPink);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -5px;
}

/* Estilos contenedor de los títulos de la sección */
.main__categories-title{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: auto;
}

/* Estilos título principal de la sección */
.main__categories-title h2{
    font-family: var(--myTitles);
    font-weight: 900;
    color: #ffffff;
    font-size: 2.8rem;
    letter-spacing: 10px;
    width: auto;
}

/* Estilos título secundario de la sección */
.main__categories-title h3{
    font-family: var(--myText);
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: italic;
}

.main__categories-title2{
    display: none;
}

/* =========ESTILOS DE LOS SLIDER DE CATEGORÍAS========= */

/* Contenedor del Slider, proporciona el borde */
.main__slider-container{
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    box-shadow: 0px 10px 10px #000000;
    position: relative;
    background-color: #ffffff;
}

.main__slider-container:hover{
    background-color: var(--myYellow);
}

/* Permite que solo una imagen del Slider se muestre a la vez y que esta ocupe el 60% del viewport */
.main__slider-categories{
    width: 60vw;
    overflow: hidden;
    margin: 0 auto;
    margin: 10px;
}

/* Preparación para que cada imagen individual tenga un 100% del contenedor. Se genera la animación que hace que las imagenes se desplacen */
.main__slider-categories ul{
    display: flex;
    width: 300%;
    animation: changeCategories 20s infinite alternate;
}

/* Elimina las viñetas de las imágenes del Slider y hace que cada imagen individual tenga un 100% del contenedor */
.main__slider-categories li{
    list-style: none;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider__img-categories{
    width: 100%;
}

/* Estilos texto que acompaña al Slider */
.slider-title{
    position: absolute;
    bottom: 20px;
    font-family: var(--myTitles);
    color: #ffffff;
    font-size: 2.8rem;
    background: linear-gradient(135deg,  var(--myPink) , #00000000);
    box-shadow: 0px 10px 10px #000000;
    padding: 7px;
    border-radius: 20px;
    text-align: center;
}

.main__slider-container:hover .slider-title{
    background: linear-gradient(135deg,  var(--myYellow) , #00000000);
}

/* =========ESTILOS DE LOS PRODUCTOS DESTACADOS========= */

/* Fondo de la sección */
.main__featured-products1{
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
    background-color: var(--myBlue);
    width: 95%;
    height: 10vh;
    margin: 0 auto;
    margin-top: -10px;
}

.main__featured-products2{
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    background-color: var(--myBlue);
    width: 95%;
    height: 10vh;
    margin: 0 auto;
    margin-top: -5px;
}

.main__featured-products{
    background-color: var(--myBlue);
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    position: relative;
}

/* Estilos título principal de la sección */
.featured-products__title{
    font-family: var(--myTitles);
    font-weight: 900;
    color: #ffffff;
    font-size: 2.8rem;
    letter-spacing: 10px;
    text-align: right;
    margin-bottom: 10px;
}

.featured-products__title-img{
    display: none;
}

/* Contenedor de los productos, proporciona el borde*/
.featured-products__container{
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    box-shadow: 0px 10px 10px #000000;
    position: relative;
    background-color: #ffffff;
}

.featured-products__container:hover{
    background-color: var(--myPink);
}

/* Elimina los estilos de tipo enlace y define el tamaño de la imagen */
.featured-products__container a{
    text-align: center;
    color: #000000;
    text-decoration: none;
    width: 60vw;
    margin: 10px;
    position: relative;
    text-transform: uppercase;
}

.featured-products__img{
    width: 100%;
}

/* Estilos carrito de compras de los productos destacados */
.fa-cart-shopping-products{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    margin: 0;
    margin-top: -20px;
    border: 2px solid #ffffff;
}

.fa-cart-shopping-products:hover{
    color: #ffffff;
    transform: scale(1.1);
    background-color: var(--myPink);
}

/* Estilos título de cada producto */
.featured-products__container h3{
    font-family: var(--myTitles);
    font-size: 2rem;
}

.featured-products__container:hover h3{
    color: #ffffff;
}

/* Estilos precio de cada producto */
.featured-products__container p{
    font-family: var(--myText);
    font-size: 1.5rem;
}

.featured-products__container:hover p{
    color: #ffffff;
}

/* =========ESTILOS DE LOS BENEFICIOS========= */

/* Fondo y distribución de la sección */
.main__advantages1{
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
    background-color: var(--myPink);
    width: 100%;
    height: 10vh;
    margin-top: -10px;
}

.main__advantages{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--myPink);
    margin-top: -5px;
    position: relative;
}

/* Estilos título principal de la sección */
.advantages__title{
    font-family: var(--myTitles);
    font-weight: 900;
    color: #ffffff;
    font-size: 2.8rem;
    letter-spacing: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-left: 10px;
}

.advantages__title-img, .advantages__title-img2{
    display: none;
}

/* Estilos contenedor de cada beneficio */
.advantage__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 80%;
}

/* Estilos íconos de cada beneficio */
.fa-truck, .fa-credit-card, .fa-face-grin-beam{
    font-size: 3rem;
}

.fa-truck:hover, .fa-credit-card:hover, .fa-face-grin-beam:hover{
    transform: scale(1.1);
    color: var(--myYellow);
} 

/* Estilos texto de cada beneficio */
.advantage__container p{
    font-family: var(--myText);
    font-size: 2rem;
    font-weight: bold;
}

/* =========ESTILOS PARA RESOLUCIÓN TABLET=========*/

@media(min-width: 481px){
    /* =========ESTILOS DEL SLIDER PARA RESOLUCIÓN TABLET========= */

    /* Estilos palabra "Team" del slider */
    .slider__title-1{
        font-size: 4rem;
        margin-left: 50px;
    }

    /* Estilos palabra segunda línea de texto del slider */
    .main__slider div{
        margin-left: 50px;
    }

    .slider__title-2 div{
        margin: 0;
    }

    .slider__title-2 h1{
        font-size: 4rem;
    }

    .main__slider ul li h2{
        font-size: 1.5rem;
        margin-left: 50px;
    }

    /* =========ESTILOS DE LAS CATEGORÍAS PARA RESOLUCIÓN TABLET========= */

    /* Fondo de la sección */
    .main__categories1{
        clip-path: polygon(0 0, 100% 70%, 100% 100%, 0 100%);
    }

    .main__categories2{
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    }

    /* Distribución sección */
    .main__categories{
        display: flex;
        flex-direction: column;
    }

    /* Distrinución de todos los slider de categorias*/
    .main__slider-all{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* =========ESTILOS DE LOS SLIDER DE CATEGORÍAS PARA RESOLUCIÓN TABLET========= */

    /* Contenederor del Slider, proporciona el borde*/
    .main__slider-container{
        width: 35vw;
        margin: 0;
        margin-bottom: 20px;
    }

    /* Estilos texto que acompaña al Slider */
    .slider-title{
        font-size: 1.5rem;
    }

    .no-active{
        opacity: 50%;
    }

    /* =========ESTILOS DE LOS PRODUCTOS DESTACADOS PARA RESOLUCIÓN TABLET========= */
    
    /* Fondo de la sección */
    .main__featured-products1{
        clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    }

    /* Estilos título principal de la sección */
    .featured-products__title{
        display: none;
    }

    .featured-products__title-img{
        display: block;
        width: 40%;
        position: absolute;
        z-index: 1;
        right: 5px;
        top: -120px;
        mix-blend-mode: overlay;
    }

    .featured-products__title-img-above{
        z-index: 2;
        right: 10px;
        top: -130px;
        mix-blend-mode: normal;
    }

    /* Distribución de todos los productos */
    .featured-products__container-all{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* Contenedor de los productos, proporciona el borde*/
    .featured-products__container{
        width: 40vw;
        margin-bottom: 10px;
    }

    /* =========ESTILOS DE LOS BENEFICIOS PARA RESOLUCIÓN TABLET========= */

    /* Fondo y distribución de la sección */
    .main__advantages{
        flex-direction: row;
        align-items: center;
        padding-bottom: 20px;
    }

    /* Estilos título principal de la sección */
    .advantages__title{
        display: none;
    }

    .advantages__title-img{
        display: block;
        width: 50%;
        mix-blend-mode: overlay;
    }

    .advantages__title-img-above{
        position: absolute;
        top: -10px;
        left: -5px;
        z-index: 2;
        mix-blend-mode: normal;
    }

    /* Distribución contenedor de todos los beneficios */
    .advantage__container-all{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Estilos contenedor de cada beneficio */
    .advantage__container{
        flex-direction: row;
        margin-top: 5px;
        margin-bottom: 5px;
        justify-content: flex-end;
    }

    /* Estilos íconos de cada beneficio */
    .fa-truck, .fa-credit-card, .fa-face-grin-beam{
        margin-right: 5px;
    }

    /* Estilos texto de cada beneficio */
    .advantage__container p{
        font-size: 1.5rem;
        color: var(--myRed);
    }
}

/* =========ESTILOS PARA RESOLUCIÓN COMPUTADOR=========*/

@media(min-width: 769px){
    /* =========ESTILOS DEL SLIDER PARA RESOLUCIÓN COMPUTADOR========= */

    /* Permite que solo un texto del Slider se muestre a la vez */
    .main__slider{
        width: 99%;
        padding-bottom: 100px;
    }

    /* Estilos palabra "Team" del slider */
    .slider__title-1{
        font-size: 7rem;
        margin-top: 100px;
    }

    /* Estilos palabra segunda línea de texto del slider */
    .slider__title-2 div{
        margin: 0;
    }

    .slider__title-2 div{
        border-top: 20px solid;
        width: 5%;
        margin: 0;
    }
    
    .slider__title2-marvel div{
        border-top: 20px solid var(--myPink);
    }
    
    .slider__title2-dc div{
        border-top: 20px solid var(--myBlue);
    }
    
    .slider__title2-independent div{
        border-top: 20px solid var(--myGreen);
    }

    .slider__title-2 h1{
        font-size: 7rem;
        text-shadow:
            -2px    -2px    0   #FFFFFFFF,
            0       -2px    0   #FFFFFFFF,
            2px     -2px    0   #FFFFFFFF,
            2px     0       0   #FFFFFFFF,
            2px     2px     0   #FFFFFFFF,
            0       2px     0   #FFFFFFFF,
            -2px    2px     0   #FFFFFFFF,
            -2px    0       0   #FFFFFFFF;
    }

    .main__slider ul li h2{
        font-size: 2rem;
    }

    /* Permite que solo una imagen del Slider se muestre a la vez y que esta ocupe el 100% del viewport */
    .main__slider-img{
        top: -20px;
    }

    .main__slider-img-nooverlay{
        top: -30px;
    }

    /* =========ESTILOS DE LAS CATEGORÍAS PARA RESOLUCIÓN COMPUTADOR========= */

    /* Fondo de la sección */
    .main__categories1{
        clip-path: polygon(0 0, 100% 55%, 100% 100%, 0 100%);
        height: 20vh;
        margin-top: -65px;
    }

    .main__categories2{
        clip-path: polygon(0 0, 100% 0, 100% 20%, 0 100%);
        background-color: var(--myPink);
        width: 100%;
        height: 10vh;
    }

    /* Distribución sección */
    .main__categories{
        background-color: var(--myPink);
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* Estilos título principal de la sección*/
    .main__categories-title h2{
        font-family: var(--myTitles);
        font-size: 4rem;
    }

    /* Estilos título secundario de la sección*/
    .main__categories-title h3{
        font-size: 2rem;
    }

    /* =========ESTILOS DE LAS CATEGORÍAS PARA RESOLUCIÓN COMPUTADOR========= */

    /* Estilos título principal previo de la sección */
    .main__categories-title{
        display: none;
    }

    /* Distribución sección */
    .main__categories{
        display: flex;
        flex-direction: row;
    }

    .main__slider-all{
        width: 80%;
    }

    /* Estilos nuevos títulos principal y secundario de la sección */
    .main__categories-title2{
        display: block;
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .main__categories-title2 h2{
        font-family: var(--myTitles);
        color: #ffffff;
        font-size: 7rem;
        letter-spacing: 10px;
    }

    .main__categories-title2 h3{
        font-family: var(--myText);
        color: #ffffff;
        font-size: 2rem;
        font-style: italic;
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    /* Estilos nuevos botones de la sección */
    .main__categories-title2 div a{
        display: block;
        font-family: var(--myTitles);
        color: #ffffff;
        text-decoration: none;
        font-size: 2rem;
        letter-spacing: 10px;
        border-radius: 20px;
        border: solid 1px #ffffff;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px 10px;
        text-align: center;
    }

    .main__categories-title2 div a:hover{
        background-color: var(--myYellow);
    }

    /* =========ESTILOS DE LOS SLIDER DE CATEGORÍAS PARA RESOLUCIÓN COMPUTADOR========= */

    /* Contenederor del Slider, proporciona el borde*/
    .main__slider-container{
        width: 15vw;
    }

    .slider-title{
        display: none;
    }

    /* =========ESTILOS DE LOS PRODUCTOS DESTACADOS PARA RESOLUCIÓN COMPUTADOR========= */

    /* Fondo de la sección */
    .main__featured-products1{
        clip-path: polygon(0 80%, 100% 0, 100% 100%, 0% 100%);
        width: 99%;
        margin-top: -40px;
    }

    .main__featured-products2{
        clip-path: polygon(0 0, 100% 0, 100% 20%, 0 100%);
        width: 99%;
    }
    
    .main__featured-products{
        width: 99%;
    }

    /* Distribución de la sección */
    .main__featured-products{
        display: flex;
        align-items: flex-end;
    }
    
    .featured-products__container-all{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 75%;
    }

    /* Estilos título principal de la sección */
    .featured-products__title-img{
        left: 0;
        top: -160px;
        width: 30vw;
        height: 25vw;
        mix-blend-mode: overlay;
    }

    .featured-products__title-img-above{
        position: absolute;
        z-index: 2;
        mix-blend-mode: normal;
        width: 30vw;
        height: 25vw;
        left: -20px;
        top: -170px;
    }

    /* Contenedor de los productos, proporciona el borde*/
    .featured-products__container{
        width: 15vw;
        margin: 0;
        margin-bottom: 20px;
    }
    
    .featured-products__container p{
        opacity: 0;
    }

    .featured-products__container:hover p{
        opacity: 100;
    }

    /* =========ESTILOS DE LOS BENEFICIOS PARA RESOLUCIÓN COMPUTADOR========= */

    /* Fondo y distribución de la sección */
    .main__advantages1{
        clip-path: polygon(0 80%, 100% 0, 100% 100%, 0% 100%);
        margin-top: -40px;
    }

    .main__advantages{
        margin-bottom: 30px;
    }

    /* Estilos título principal de la sección */
    .advantages__title-img{
        display: none;
    }

    .advantages__title-img2{
        display: block;
        width: 20%;
        mix-blend-mode: overlay;
    }

    .advantages__title-img-above2{
        position: absolute;
        top: -10px;
        right: 5px;
        z-index: 2;
        mix-blend-mode: normal;
    }

    /* Distribución contenedor de todos los beneficios */
    .advantage__container-all{
        width: 80%;
        flex-direction: row;
        justify-content: space-around;
    }

    /* Estilos contenedor de cada beneficio */
    .advantage__container{
        flex-direction: row;
        margin-top: 0;
        justify-content: center;
        width: auto;
    }

    /* Estilos íconos de cada beneficio */
    .fa-truck, .fa-credit-card, .fa-face-grin-beam{
        margin-right: 5px;
        font-size: 8rem;
    }

    /* Estilos texto de cada beneficio */
    .advantage__container p{
        font-size: 2rem;
    }
}

/* Animación del Slider principal, genera el desplazamiento de las imágenes*/
@keyframes change{
    0%{margin-left: 0;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

/* Animación del Slider de las categorias, genera el desplazamiento de las imágenes*/
@keyframes changeCategories{
    0%{margin-left: 0;}
    30%{margin-left: 0%;}

    35%{margin-left: -100%;}
    65%{margin-left: -100%;}

    70%{margin-left: -200%;}
    100%{margin-left: -200%;}
}