<img src="/images/logoAbreviado.png" alt="Logo" class="footer__logo">
<section class="footer__links">
    <ul>
        <li><a href="">Sobre nosotros</a></li>
        <li><a href="">Correo</a></li>
        <li><a href="">Teléfono</a></li>
    </ul>
</section>
<section class="footer__social-media">
    <ul>
        <li><a href=""><img src="/images/socialMedia/facebook.png" alt="Facebook" class="footer_social-media-img"></a></li>
        <li><a href=""><img src="/images/socialMedia/instagram.png" alt="Instagram" class="footer_social-media-img"></a></li>
        <li><a href=""><img src="/images/socialMedia/whatsapp.png" alt="Whatsapp" class="footer_social-media-img"></a></li>
    </ul>
</section>