<!-- Logo -->
<a href="/" class="header__logo-link">
    <img src="/images/logoCompleto.png" alt="Logo del sitio" class="header__logo">
</a>

<!-- Barra de búsqueda y botón -->
<form action="/products" method="GET" class="header__form">
    <input type="text" placeholder="¡Vamos a navegar!" class="header__search-bar" name="search">
    <button type="submit" class="header__search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>

<!-- Enlaces de la barra de navegación: tienda, cómics, mangas, carrito de compras y botón de inicio de sesión -->
<div class="header__text">
    <nav class="header__nav">
        <ul>
            <li class="header__nav-inner-container">
                <a href="/products/comic" class="header__link">CÓMICS <i class="fa-solid fa-angle-right"></i></a>
                <ul class="header__nav-inner">
                    <li><a class="header__nav-link" href="/products/marvel">MARVEL</a></li>
                    <li><a class="header__nav-link" href="/products/dc">DC COMICS</a></li>
                    <li><a class="header__nav-link" href="/products/independent">INDEPENDIENTE</a></li>
                </ul>
            </li>
            <li><a href="/products/manga" class="header__link">MANGAS</a></li>
            <li><a href="/products" class="header__link header__shop"><i class="fa-solid fa-basket-shopping"></i> TIENDA</a></li>
            <li>
                <a href="/shopping-cart" class="header__shopping">
                    <div class="header__shopping-container">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <% if (locals.isLogged && locals.counter > 0) { %>
                            <span class="header__nav-number">
                                    <%= locals.counter %> 
                            </span>
                        <% } %>
                    </div>
                </a>
            </li>
            <div class="header__login">
                <% if (locals.isLogged) { %>
                    <li class="header__nav-inner-container">
                        <a href="/users/profile" class="header__link">¡Hola, <%= locals.userLogged.name %>! <i class="fa-solid fa-angle-right"></i></a>
                        <ul class="header__nav-inner header__nav-inner2">
                            <li><a class="header__nav-link" href="/users/logout">Logout</a></li>
                        </ul>
                    </li>
                <% } else{%>
                    <li><a href="/users/login" class="header__link header__login">LOGIN</a></li>
                    <li><a href="/users/sign-up" class="header__link">SIGN UP</a></li>
                <% } %>
            </div>
        </ul>
    </nav>
    <!-- Menú para la resolución mobile -->
    <div class="header__menu" id="header__menu">
        <div class="header__menu1"></div>
        <div class="header__menu2"></div>
        <div class="header__menu3"></div>
    </div>
    <nav class="header__nav-mobile">
        <ul>
            <li>
                <a href="#" class="header__nav-inner-btn header__nav-link">CÓMICS <i class="fa-solid fa-angle-right"></i></a>  
                <ul class="header__nav-inner">
                    <li><a class="header__nav-link" href="/products/comic">TODOS LOS CÓMICS</a></li>
                    <li><a class="header__nav-link" href="/products/marvel">MARVEL</a></li>
                    <li><a class="header__nav-link" href="/products/dc">DC COMICS</a></li>
                    <li><a class="header__nav-link" href="/products/independent">INDEPENDIENTE</a></li>
                </ul>
            </li>
            <li><a href="/products/manga" class="header__nav-link">MANGAS</a></li>
            <li><a href="/shopping-cart" class="header__nav-link"><i class="fa-solid fa-cart-shopping"></i>
                <% if (locals.isLogged && locals.counter > 0) { %>
                    <span class="header__nav-number">
                            <%= locals.counter %> 
                    </span>
                <% } %>
            </a></li>
            <% if (locals.isLogged) { %>
                <li><a href="/users/profile" class="header__nav-link">TU PERFIL</a></li>
                <li><a href="/users/logout" class="header__nav-link">CERRAR SESIÓN</a></li>
            <% } else{%>
                <li><a href="/users/login" class="header__nav-link">LOGIN</a></li>
                <li><a href="/users/sign-up" class="header__nav-link">SIGN UP</a></li>
            <% } %>
        </ul>
    </nav>
</div>