<!-- Logo -->
<a href="/" class="header__logo-link">
    <img src="/images/logoCompleto.png" alt="Logo del sitio" class="header__logo">
</a>

<!-- Enlaces de la barra de navegaci贸n: Creaci贸n de productos, Edici贸n de productos y detalles de sesi贸n -->
<div class="header__text">
    <nav class="header__nav">
        <ul>
            <li><a href="/products/create" class="header__link">Crear</a></li>
            <li><a href="/products/:id/edit" class="header__link">Editar</a></li>
            <li>
                <a href="" class="header__user">
                    <i class="fa-solid fa-user-gear"></i>
                </a>
            </li>
        </ul>
    </nav>
    <i class="fa-solid fa-bars"></i>
</div>