<!-- Logo -->
<a href="/" class="header__logo-link">
    <img src="/images/logoCompleto.png" alt="Logo del sitio" class="header__logo">
</a>

<!-- Barra de búsqueda y botón -->
<form action="" method="" class="header__form">
    <input type="text" placeholder="¡Vamos a navegar!" class="header__search-bar">
    <button type="submit" class="header__search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>

<!-- Enlaces de la barra de navegación: tienda, cómics, mangas, carrito de compras y botón de inicio de sesión -->
<div class="header__text">
    <nav class="header__nav">
        <ul>
            <li><a href="" class="header__link">Tienda</a></li>
            <li><a href="" class="header__link">Cómics</a></li>
            <li><a href="" class="header__link">Mangas</a></li>
            <li>
                <a href="/carrito" class="header__shopping">
                    <div class="header__shopping-container">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
    <button type="submit" class="header__login" onclick="window.location.href='/usuarios/iniciar-sesion'">Iniciar sesión</button>
    <!-- Menú para la resolución mobile -->
    <i class="fa-solid fa-bars"></i>
</div>