<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs', {title: 'Creación de Productos'}) %>
    <link rel="stylesheet" href="/css/unauthorizedStyle.css">
</head>
<body>
    <header>
        <!-- Logo -->
        <a href="/" class="header__logo-link">
            <img src="/images/logoCompleto.png" alt="Logo del sitio" class="header__logo">
        </a>
    </header>

    <main>
        <div>
            <h1>¡Ups!</h1>
            <h2>Parece que no tienes permisos para acceder a esta página</h2>
            <p>Puedes regresar al <a href="/">inicio</a></p>
        </div>
        <img src="/images/saitama.png" alt="Saitama">
    </main>
</body>
</html>