<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head2.ejs', {title: 'Comic vs Manga'}) %>
</head>
<body>
    <header>
        <%- include('../partials/header2.ejs') %>
    </header>

    <main>
        <!-- Slider de imágenes -->
        <div class="main__slider-img main__slider-img-nooverlay" >
            <ul>
                <li>
                    <img src="/images/mainSlider/slider1V2.png" alt="Slider Manga" class="slider__img slider__img-above">
                </li>
                <li>
                    <img src="/images/mainSlider/slider2V2.png" alt="Slider Marvel" class="slider__img slider__img-above">
                </li>
                <li>
                    <img src="/images/mainSlider/slider3V2.png" alt="Slider DC" class="slider__img slider__img-above">
                </li>
                <li>
                    <img src="/images/mainSlider/slider4V2.png" alt="Slider Independiente" class="slider__img slider__img-above">
                </li>
            </ul>
        </div>
        <div class="main__slider-img">
            <ul>
                <li>
                    <img src="/images/mainSlider/slider1V2.png" alt="Slider Manga" class="slider__img">
                </li>
                <li>
                    <img src="/images/mainSlider/slider2V2.png" alt="Slider Marvel" class="slider__img">
                </li>
                <li>
                    <img src="/images/mainSlider/slider3V2.png" alt="Slider DC" class="slider__img">
                </li>
                <li>
                    <img src="/images/mainSlider/slider4V2.png" alt="Slider Independiente" class="slider__img">
                </li>
            </ul>
        </div>
        <div class="main__slider">
            <ul>
                <li>
                    <h1 class="slider__title-1 slider__title1-manga">TEAM</h1>
                    <div class="slider__title-2 slider__title2-manga">
                        <div></div>
                        <h1>MANGA</h1>
                    </div>
                    <h2>¡La mejor fantasía!</h2>
                </li>
                <li>
                    <h1 class="slider__title-1 slider__title1-marvel">TEAM</h1>
                    <div class="slider__title-2 slider__title2-marvel">
                        <div></div>
                        <h1>MARVEL</h1>
                    </div>
                    <h2>¡Increíbles batallas e historias!</h2>
                </li>
                <li>
                    <h1 class="slider__title-1 slider__title1-dc">TEAM</h1>
                    <div class="slider__title-2 slider__title2-dc">
                        <div></div>
                        <h1>DC COMICS</h1>
                    </div>
                    <h2>¡Historias de múltiples universos!</h2>
                </li>
                <li>
                    <h1 class="slider__title-1 slider__title1-independent">TEAM</h1>
                    <div class="slider__title-2 slider__title2-independent">
                        <div></div>
                        <h1>INDEPENDIENTE</h1>
                    </div>
                    <h2>¡Máxima diversidad!</h2>
                </li>
            </ul>
        </div>
    </main>

    <footer>
        
    </footer>
</body>
</html>