<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styleProductDetails.css">
    <link rel="stylesheet" href="/css/stylecarrito.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
    <!--Sección del carrito de compras-->
    <h2 class="carrito">Carrito de compras</h2>
    <section class="carritoCompleto">
               <article>
                <div class="contenedorPrincipal">
                    <img  class="imagenProducto" src="/images/productsCar/joker.jpg" alt="Producto1">
                </div>
                <div class="muevete">
                    <h3 class="nombrecomic"> Joker Num. 1 </h3>
                    <h4 class="categoria">Categorias:</h4> <a href="#"> Comic en español </a>
                    <a href="#"> /Fantasia</a>
                    <div class="main__product-shopping" >
                        <div class="main__product-count">
                            <button class="main__product-button-count minus">-</button>
                            <input class="main_button" type="number" value="1">
                            <button class="main__product-button-count plus">+</button>
                        </div>
                    </div>
                    <p class="precio">$ 23 000</p>
                </div>
        </article>
        <article>
            <div class="contenedorPrincipal">
                <img  class="imagenProducto" src="/images/productsCar/thanos.jpg" alt="Producto2">
            </div>
            <div class="muevete">
                <h3 class="nombrecomic"> El Renacimiento de Thanos </h3>
                <h4 class="categoria">Categorias:</h4> <a href="#"> Comic en español </a> 
                <a href="#"> /Ciencia ficción</a>
                <div class="main__product-shopping" >
                    <div class="main__product-count">
                        <button class="main__product-button-count minus">-</button>
                        <input class="main_button" type="number" value="1">
                        <button class="main__product-button-count plus">+</button>
                    </div>
                </div>
                <p class="precio">$ 34 000</p>
            </div>
        </article>

        <article>
            <div class="contenedorPrincipal">
                <img  class="imagenProducto" src="/images/productsCar/product3.jpg" alt="Producto3">
            </div>
            <div class="muevete">
                <h3 class="nombrecomic"> Haruko Ichikawa </h3>
                <h4 class="categoria">Categorias:</h4> <a href="#"> Manga en español </a> 
                <a href="#"> /Realidad utopica</a>
                <div class="main__product-shopping" >
                    <div class="main__product-count">
                        <button class="main__product-button-count minus">-</button>
                        <input class="main_button" type="number" value="1">
                        <button class="main__product-button-count plus">+</button>
                    </div>
                </div>
                <p class="precio">$ 46 000</p>
            </div>
        </article>
    </section>
<!--Sección Subtotal-->

    <section class="subtotal-section">
    <div class="subtotal-container">
            <h3 class="subtotal">Subtotal</h3>
            <p class="precio-subtotal"> $ 103 000 </p>
        </div>
        <p class="adicional">Tambien puedes llevar</p>
    </section>
    <section class="main__featured-products">
        <div class="featured-products__container-all">
            <article class="featured-products__container">
                <a href="/productos/vota-a-Loki">
                    <img src="/images/product/product1.png" alt="Primer producto destacado" class="featured-products__img">
                    <i class="fa-solid fa-cart-shopping fa-cart-shopping-products"></i>
                    <h3>Vota a Loki</h3>
                    <p>$81 000</p>
                </a>
            </article>
            <article class="featured-products__container">
                <a href="/productos/noche-mas-oscura">
                    <img src="/images/product/product2.png" alt="Segundo producto destacado" class="featured-products__img">
                    <i class="fa-solid fa-cart-shopping fa-cart-shopping-products"></i>
                    <h3>La noche más oscura (deluxe)</h3>
                    <p>$375 000</p>
                </a>
            </article>
            <article class="featured-products__container">
                <a href="/productos/shingeki-no-kyojin">
                    <img src="/images/product/product3.png" alt="Tercer producto destacado" class="featured-products__img">
                    <i class="fa-solid fa-cart-shopping fa-cart-shopping-products"></i>
                    <h3>Shingeki no Kyojin VOL. 27</h3>
                    <p>$56 000</p>
                </a>
            </article>
            <article class="featured-products__container">
                <a href="/productos/scott-pilgrim">
                    <img src="/images/product/product4.png" alt="Cuardo producto destacado" class="featured-products__img">
                    <i class="fa-solid fa-cart-shopping fa-cart-shopping-products"></i>
                    <h3>Scott Pilgrim VOL. 04</h3>
                    <p>$53 000</p>
                </a>
            </article>
        </div>
    </section>
        <div class="contenedor-compra">
            <button class="compra"> Finalizar Compra </button>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</section>

</body>
</html>