<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <section>
        <div class="imgBx">
            <img src="/images/pexels-erik-mclean-7524996.jpg" alt="">g
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>Inicio de sesión</h2>
                <form>
                    <div class="inputBx">
                        <span>Usuario</span>
                        <input type="text" name="Usuario" required>
                    </div>
                    <div class="inputBx">
                        <span>Contraseña</span>
                        <input type="password" name="Contraseña" required>
                    </div>
                    <div class="remember">
                        <label><input type="checkbox">Recuerdame</label>
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="Ingresar" name="" required>
                    </div>
                    <div class="inputBx">
                        <p>¿No tienes una cuenta? <a href="/usuarios/registro">Crear cuenta</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>