<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/registerStyle.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <section>
        <div class="imgBx">
            <img src="/images/registerBackground.jpg" alt="">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>Registro</h2>
                <form method="post">
                    <div class="inputBx">
                        <span>Usuario</span>
                        <input type="text" name="Usuario" required>
                    </div>
                    <div class="inputBx">
                        <span>Correo electronico</span>
                        <input type="password" name="Contraseña" required>
                    </div>
                    <div class="inputBx">
                        <span>Contraseña</span>
                        <input type="password" name="Contraseña" required>
                    </div>
                    <div class="inputBx">
                        <span>Confirmar Contraseña</span>
                        <input type="password" name="Contraseña" required>
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="Crear cuenta" name="" required>
                    </div>
                    <div class="inputBx">
                        <p>¿Ya tienes una cuenta? <a href="/users/login">Inicia sesión</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>